.public-header{
  position: fixed;
  width: 100vw;
  padding: 0 2rem;
  z-index: 200;
}

.bgimg {
  background-image: url("./../images/gif-home3.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.kyotobg{
  background-image: url("./../images/kyoto.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 80vh !important;
  width: 100% !important;
}


