.home-main {
    /* margin-top: 15rem; */
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    flex-direction: column;
}

.home-content-title {
    font-size: 6rem;
    font-weight: 800;
    color: #fff;
}

.home-content-more {
    color: #fff;
    cursor: pointer;
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: 40px;
}

.bd-placeholder-img {
    width: 100vw;
    height: 500px;
    /* background-size: cover; */
    object-fit: cover;
}

.view-main {
    position: relative;
    width: 100%;
}

.view-main-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.view-main-container-text {
    width: 50%;
}

.view-main-container-list {
    /* width: ; */
}

.view-content {
    width: 80%;
    /* height: 2040px; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin-top: 60%; */
}

.view-container {
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
}

.view-container-div {
    display: flex;
    max-width: 60rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view-content-base {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.view-content-title {
    color: #000;
    font-family: 'Helvetica 85 Heavy', sans-serif;
    font-weight: 700;
    padding: 2.5rem 5.625rem 2.5rem 5.625rem;
}

.view-content-setitle {
    color: #000;
    font-family: 'Helvetica 85 Heavy', sans-serif;
    font-weight: 700;
    padding: 0rem 2rem;
}

.view-content-titleline {
    width: 5.625rem;
    height: 3px;
    margin-top: 1.25rem;
    background-color: #ffc600;
    margin-left: 2rem;
}

.view-content-text {
    line-height: 2.05rem;
    font-family: 'Helvetica 45 Light', sans-serif;
    padding: 1rem 2rem;
}

.view-content-img {
    padding: 1rem 2rem;
    width: 100%; /* 你想要的容器宽度 */
    height: auto; /* 你想要的容器高度 */
    overflow: hidden; /* 确保超出容器的部分被裁剪 */
}

.view-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-content-img-info {
    object-fit: cover; /* 控制图片如何适应容器，保持纵横比且不变形 */
    width: 100%;
    height: 100%;
}

.view-list-img {
    width: 140px;
    height: 140px;
}

.view-card-img {
    width: 100%;
    height: 500px;
}

.join-container {
    display: flex;
    justify-content: center;
}

.join-main {
    padding: 4rem 0;
}

.overlay-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(170, 170, 170, 0.8); /* 使用 #aaa 的颜色 */
}

.overlay {
    display: none;
}

.game-modal {
    display: none;
    background-color: #f9f9f9; /* 淡灰色背景 */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    height: 24rem;
    width: 300px;
    display: flex;
    flex-direction: column; /* 确保垂直布局 */
    align-items: center;
    justify-content: center;
}

.game-modal p {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* 深灰色文本颜色 */
    margin-bottom: 10px;
}

.game-modal text {
    font-size: 16px;
    color: #555; /* 中灰色文本颜色 */
    margin-bottom: 20px;
}

.modal-button {
    margin: 10px;
    padding: 12px 24px;
    font-size: 18px;
    cursor: pointer;
    background-color: #3498db; /* 水蓝色按钮背景 */
    color: #fff; /* 白色文本颜色 */
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* 添加渐变效果 */
}

.modal-button:hover {
    background-color: #258cd1; /* 按钮悬停时的背景色 */
    color: #fff; /* 白色文本颜色 */
}
